/* COLORS
#4D77FF Bright blue
#56BBF1 light blue
#5EE6EB aqua
#F2FA5A electric yellow
*/

* {
  font-family: 'Roboto', sans-serif;
}

/* HEADER */
.main-header {
  align-items: flex-end;
  border: solid 2px #4D77FF;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
}

.header-button {
  border-radius: 5%;
  background-color: #4D77FF;
  color: #56BBF1;
  font-size: 12px;
  height: 4vh;
  margin-bottom: 1%;
  width: 13vh;
}

.search-bar {
  margin-bottom: 1%;
}

.view-all-recipes-button {
  margin: 0% 1% 1% auto;
}

.header-button:hover {
  color:aqua;
  cursor: pointer;
  text-decoration: underline;
}

.margin {
  margin-bottom: 1%;
}

.right-margin {
  margin-right: 1%;
}

.disabled {
  height: 4vh;
  width: 13vh;
}

/* Main */
.whole-page-container {
  display: flex;
  justify-content: space-between;
}

.home-view {
  width: 75%;
}

.three-images {
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  max-height: 30%;
  max-width:  25%;
}

.left-random-image, .middle-random-image, .right-random-image {
  height: 20vh;
  width: 20vh;
}

.random-name:hover {
  color:#4D77FF;
  text-decoration: underline;
}

/* Saved Section */
.saved-section {
justify-self: flex-end;
}

.saved-search-bar {
  margin-bottom: 2%;
}

.submit-search-favorites-button {
  height: 3vh;
  width: 8vh;
}

/* ALL RECIPES */

.all-recipe-list {
  font-size: 14px;
}

.all-recipe-list:hover {
  color:#4D77FF;
  text-decoration: underline;
}

/* SELECTED RECIPES */

.selected {
  font-size: 10px;
}

.ingredient-item {
  font-size: 10px;
}

.hidden {
  display: none;
}