/* div {
    background-color:blue;
}


@media (max-width: 480px) {
  div {
    background-color:green;
  }
}

@media (min-width: 481px) {
  div {
    background-color:purple;
  }
}

@media (min-width: 769px){
  div {
    background-color:red;
  }
} */

.hidden {
  display: none;
}
